@use "../variables" as *;

.tour {
   &__title {
      margin-bottom: 20px;
   }

   &__list {
      margin-bottom: 50px;
   }

   &__list-item {
      border-top: 1px solid rgba(217, 217, 217, 0.50);

      &:last-child {
         border-bottom: 1px solid rgba(217, 217, 217, 0.50);

      }
   }

   &__more {
      text-align: center;
      display: block;
      color: inherit;
      background-color: transparent;
      border: none;
   }
}

.meet {
   padding: 20px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-transform: uppercase;

   &__info {
      max-width: 140px;

      span {
         display: block;
      }

      &-date {
         font-weight: 900;
         font-size: 20px;
         margin-bottom: 5px;
      }

      &-place {
         color: rgba($light, 0.5);
         text-overflow: ellipsis;
         overflow: hidden;
         text-wrap: nowrap;
      }
   }

   &__buy {
      background-color: $light;
      transition: all .25s;
      border: none;
      color: $darkGray;
      font-size: 14px;
      max-width: 225px;
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 11px 12px 11px 18px;
      font-weight: 500;
      text-transform: inherit;

      .icon-arrow-right {
         width: 20px;
         height: 20px;
         transition: all .25s;
      }

      &:hover {
         background-color: $orange;

         .icon-arrow-right {
            margin-right: -5px;
         }
      }
   }
}