@use 'variables' as *;

section {
    position: relative;
    z-index: 1;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 12px;
    height: 12px;
}

body {
    font-family: 'Inter', Roboto, sans-serif;
    background-color: $primary;
    overflow-x: hidden;
    line-height: 100%;
    font-size: 16px;
    color: $light;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.more {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
}

.animateSlideRight {
    opacity: 0;
    animation: slideRight 1s forwards;
}

.animateSlideLeft {
    opacity: 0;
    animation: slideLeft 1s forwards;
}


.animateSlideDown {
    opacity: 0;
    transform: translateY(-50%);
    animation: slideDown 1s forwards;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}